*{
    margin: 0%;
    padding: 0%;
    font-family: sans-serif;
}

#div34{
    margin-right: 150px;
    margin-left: 150px;
}
#cartpage{
    margin: 80px auto;
}

table{
    width: 100%;
    border-collapse: collapse;
}

#cartinfo{
display: flex;
flex-wrap: wrap;

}


th{
    text-align: left;
    padding: 5px;
    color: #fff;
   background: #ff523b;
   font-weight: normal;
}
td{
    padding: 10px 5px;
}

td input{
    width: 40px;
    height: 30px;
    padding: 5px;
}

td a{
    text-decoration: none;
    color: #ff523b;
    font-size: 12px;
}
td img{
    width: 80px;
    height: 80px;
    margin-right: 10px;
    
}

#totalprice{
    display: flex;
    justify-content: flex-end;

}

#totalprice table{
    border-top: 3px solid #ff523b;
    width: 100%;
    max-width: 485px;
}
